<!DOCTYPE html>
<html>
  <head>
    <title>GoodPlays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" /> <%#favicon%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <%# for the stars in the rating %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
